@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");
body {
  background-color: #2f3e46;
  font-family: "Source Code Pro", monospace;
}
.content {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  color: #ffff3f;
  font-size: 0.7rem;
  letter-spacing: 2px;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #cad2c5;
}

a:hover {
  color: #84a98c;
  transition: 250ms;
}

.heading {
  display: flex;
  flex-direction: row;
}

.heading-line {
  border-top: #ffff3f 1px solid;
  display: inline;
  width: 300px;
  margin: 20px;
}
